.card {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fbffff;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    &-container {
      width: 100%;
      height: 64px;
      display: flex;
      align-items: center;
      background-color: #2155cd;
    }

    &-ui {
      display: flex;
      gap: 10px;
    }
  }

  &__content {
    padding-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__footer {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;

    &-container {
      width: 100%;
      height: 64px;
      background-color: #2155cd;
    }
  }
}
