{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "trailingComma": "all",
    "printWidth": 130,
    "tabWidth": 2,
    "arrowParens": "avoid",
    "overrides": [
      {
        "files": ["**.*.scss", "*.scss"],
        "options": {
          "singleQuote": false
        }
      }
    ]
  }