.authorization {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #2155cd;

  &__logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    background: #fbffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-top: 50px;

    &-form {
      min-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &-roles {
      width: 100%;
      border-top: 1px solid #dedede;
      height: 64px;
      display: flex;
      justify-content: space-around;
      padding: 0 42px;
    }
  }
}
